*.fastq
*.fastq.gz
*.fq
*.fq.gz

*.bam
*.bam.bai
*.sam
*.cram
*.cram.crai

*.fa
*.fasta
*.fna
*.dict
*.fai
*.amb
*.ann
*.bwt
*.pac
*.sa

*.tmp
*.temp
*.log
*.bak

__pycache__/
.ipynb_checkpoints/
.Rhistory
.RData
.Rproj.user/

.DS_Store
Thumbs.db
.vscode/
.idea/
